
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.error-4Te {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.error-4Te .top-header-BHN {
  box-sizing: border-box;
  padding: 1.2rem 1rem 1.2rem 105.3rem;
  width: 100%;
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  background-color: #000000;
  flex-shrink: 0;
}
.error-4Te .top-header-BHN .frame-746-tSg {
  box-sizing: border-box;
  padding-left: 29.9rem;
  width: 100%;
  height: 100%;
}
.error-4Te .top-header-BHN .frame-746-tSg .frame-549-qcp {
  box-sizing: border-box;
  padding: 0.15rem 0.527rem 0.15rem 0rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.error-4Te .top-header-BHN .frame-746-tSg .frame-549-qcp .english-yDE {
  margin-right: 1.1001rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .top-header-BHN .frame-746-tSg .frame-549-qcp .dropdown-h9E {
  margin-bottom: 0.0222rem;
  width: 1.2728rem;
  height: 0.7778rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E {
  box-sizing: border-box;
  padding: 4rem 0rem 14rem 0rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi {
  margin: 0rem 13.5rem 1.6rem 13.5rem;
  width: calc(100% - 27rem);
  height: 3.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-556-3cQ {
  margin: 0.7rem 13rem 0.7rem 0rem;
  height: calc(100% - 1.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-556-3cQ .rag-acL {
  margin-right: 22.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.072rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-556-3cQ .frame-554-hBA {
  height: 100%;
  display: flex;
  column-gap: 4.8rem;
  align-items: center;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-556-3cQ .frame-554-hBA .home-SeY {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-556-3cQ .frame-554-hBA .contact-BME {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-556-3cQ .frame-554-hBA .about-WuJ {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-556-3cQ .frame-554-hBA .sign-up-4fv {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-552-Cn8 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-552-Cn8 .search-component-set-NAp {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 0.7rem 1.2rem 0.7rem 2rem;
  width: 24.3rem;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-552-Cn8 .search-component-set-NAp .frame-550-66p {
  box-sizing: border-box;
  padding: 0.3rem 0.4rem 0.3rem 0rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-552-Cn8 .search-component-set-NAp .frame-550-66p .what-are-you-looking-for-pYc {
  margin-right: 3.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-552-Cn8 .search-component-set-NAp .frame-550-66p .component-2-x92 {
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-552-Cn8 .frame-551-fZE {
  margin: 0.3rem 0;
  box-sizing: border-box;
  padding: 0rem 0.8rem 0rem 0.6rem;
  height: calc(100% - 0.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-552-Cn8 .frame-551-fZE .wishlist-z5i {
  margin: 0rem 2.2rem 0.017rem 0rem;
  width: 2rem;
  height: 1.7834rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-552-Cn8 .frame-551-fZE .cart1-with-buy-Js6 {
  margin-right: 2.3rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .header-jbi .frame-552-Cn8 .frame-551-fZE .user-eg4 {
  width: 1.7rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .line-3-Pde {
  margin-bottom: 7.95rem;
  width: 144rem;
  height: 0.05rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .roadmap-Xjr {
  margin: 0rem 90.6rem 14rem 13.5rem;
  width: calc(100% - 104.1rem);
  height: 2.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .roadmap-Xjr .account-rXE {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .roadmap-Xjr .auto-group-i8eq-BZW {
  box-sizing: border-box;
  padding: 0rem 26.5rem 0rem 1.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .roadmap-Xjr .auto-group-i8eq-BZW .line-13-WLt {
  margin: 0.463rem 1.2rem 0rem 0rem;
  width: 0.6rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .roadmap-Xjr .auto-group-i8eq-BZW .nothing-E1z {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .frame-867-mXi {
  margin: 0rem 30.2rem 8rem 30.6rem;
  width: calc(100% - 60.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .frame-867-mXi .not-found-VyW {
  margin-bottom: 4rem;
  font-size: 11rem;
  font-weight: 500;
  line-height: 1.0454545455;
  letter-spacing: 0.33rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .frame-867-mXi .your-visited-page-not-found-you-may-go-home-page-1wr {
  margin-right: 0.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .auto-group-kokj-R5E .button-8Fn {
  margin: 0rem 61.4rem 0rem 57.2rem;
  width: calc(100% - 118.6rem);
  height: 5.6rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db4444;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.error-4Te .footer-bQG {
  box-sizing: border-box;
  padding: 8rem 0rem 2.4rem 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg {
  margin: 0rem 25.9rem 6rem 13.5rem;
  width: calc(100% - 39.4rem);
  height: 23.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-rv32-FDv {
  box-sizing: border-box;
  padding-right: 8.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-rv32-FDv .frame-717-nzY {
  margin-right: 8.7rem;
  width: 21.7rem;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-rv32-FDv .frame-717-nzY .frame-716-9KJ {
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-rv32-FDv .frame-717-nzY .frame-716-9KJ .frame-715-6kL {
  margin-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-rv32-FDv .frame-717-nzY .frame-716-9KJ .frame-715-6kL .rag-fYY {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.072rem;
  color: #f9f9f9;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-rv32-FDv .frame-717-nzY .frame-716-9KJ .frame-715-6kL .subscribe-C2g {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-rv32-FDv .frame-717-nzY .frame-716-9KJ .get-10-off-your-first-order-X4x {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-rv32-FDv .frame-717-nzY .send-mail-FWk {
  box-sizing: border-box;
  padding: 1.2rem 1.7rem 1.2rem 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.15rem #f9f9f9;
  border-radius: 0.4rem;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-rv32-FDv .frame-717-nzY .send-mail-FWk .enter-your-email-NrG {
  margin-right: 3.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-rv32-FDv .frame-717-nzY .send-mail-FWk .icon-send-7Yx {
  margin-top: 0rem;
  width: 2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-rv32-FDv .support-Drt {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .frame-711-Zfr {
  width: 12.3rem;
  height: 100%;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .frame-711-Zfr .account-iYk {
  margin-bottom: 2.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.error-4Te .footer-bQG .frame-743-izg .frame-711-Zfr .frame-710-TWL {
  width: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.error-4Te .footer-bQG .frame-743-izg .frame-711-Zfr .frame-710-TWL .my-account-Cip {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .frame-711-Zfr .frame-710-TWL .login-register-Z3a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .frame-711-Zfr .frame-710-TWL .cart-UgL {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .frame-711-Zfr .frame-710-TWL .wishlist-Rba {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .frame-711-Zfr .frame-710-TWL .shop-aDa {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-bu6k-Wsv {
  box-sizing: border-box;
  padding-left: 8.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-bu6k-Wsv .frame-709-fF2 {
  margin-right: 8.7rem;
  width: 10.9rem;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-bu6k-Wsv .frame-709-fF2 .quick-link-QiQ {
  margin-bottom: 2.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-bu6k-Wsv .frame-709-fF2 .frame-708-Ypc {
  width: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-bu6k-Wsv .frame-709-fF2 .frame-708-Ypc .privacy-policy-hSc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-bu6k-Wsv .frame-709-fF2 .frame-708-Ypc .terms-of-use-3WU {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-bu6k-Wsv .frame-709-fF2 .frame-708-Ypc .faq-zRi {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-bu6k-Wsv .frame-709-fF2 .frame-708-Ypc .contact-wbr {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-743-izg .auto-group-bu6k-Wsv .frame-742-tmz {
  width: 16.8rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-643-2dJ {
  opacity: 0.4;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-643-2dJ .underline-PCx {
  margin-bottom: 1.5rem;
  opacity: 0.5;
  width: 144rem;
  height: 0.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-643-2dJ .frame-66-KsJ {
  margin: 0 55.15rem;
  box-sizing: border-box;
  padding-left: 0.1666rem;
  width: calc(100% - 110.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-643-2dJ .frame-66-KsJ .icon-copyright-Tic {
  margin: 0rem 0.767rem 0rem 0rem;
  width: 1.6667rem;
  height: 1.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.error-4Te .footer-bQG .frame-643-2dJ .frame-66-KsJ .copyright-rimel-2022-all-right-reserved-nVz {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
